html, body {
	background-color: rgb(51, 51, 51);
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 150px;
}

.bar {
    fill: rgb(75, 75, 75);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

.bar:hover {
    fill: rgb(104, 104, 104);
  }


.axis {
	fill: none;
	stroke: rgb(102, 102, 102);
	shape-rendering: crispEdges;
}
			
.axis text {
	font-color: white;
	font-family: sans-serif;
	font-size: 11px;
}

.container-fluid {
	padding-left: 75px;
}

h1 {
	color: white;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

h4 {
	color: rgb(204, 204, 204);
	font-family: sans-serif;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */

}

p {
	color: rgb(255, 255, 255);
	font-size: 24px;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.img-circle {
	height: 100px;
	width: 75px;
	border-radius: 25%;
	border: 2px solid rgb(102, 102, 102);
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

th, td {
	border-bottom: 1px solid rgb(75, 75, 75);
	padding-left: 30px;
	padding-bottom: 3px;
	color: white;
	text-align: left;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.gametitle {
	font-family: sans-serif;
	font-size: 18px;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.border {
	border:3px solid rgb(102, 102, 102);
    border-radius: 1000px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.hover:hover {
	background: rgb(75, 75, 75);
	cursor: pointer;
}

.cells {
  fill: rgb(80, 80, 80);
}

.label {
  text-anchor: start;
  font: 24px sans-serif;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.small {
	font-size: 12px;
	font-family: sans-serif;
	color: rgb(155, 155, 155);
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.tableheader {
	color: white;
	text-align: right;
	padding: 10px;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.list-inline {
	padding-top: 40px;
	padding-left: 30px;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.gamename {
	vertical-align: middle;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.name {
	font-family: sans-serif;
	font-size: 12px;
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.viewers {
	font-family: sans-serif;	
	font-size: 12px;
}

.viewerslight {
	font-family: sans-serif;	
	font-size: 12px;
	fill: rgb(151, 151, 151);
}

#tooltip {
	position: absolute;
	width: 325px;
	height: 95px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	opacity: 1;
	-webkit-transition: opacity 0.2s
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#tooltip.hidden {
	opacity: 0;

}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	font-color: black;
}

#channeltitle {
	color: rgb(140, 140, 140);
}

.footer {
    position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
	padding-top: 20px;
   	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    text-align: right;
}

.footertext {
	font-size: 12px;
	color: rgb(102, 102, 102);
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}